<div style="margin-top: 100px;">
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            <h1 class="ms-auto" *ngFor="let persona of this.persona">{{persona.nombre}} {{persona.a_paterno}}</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/menu-principal'">Inicio</a>
                <a mat-list-item [routerLink]="'/perfil'">Perfil</a>
                <a mat-list-item>Hacerme socio</a>
                <a mat-list-item [routerLink]="'/menu-deportista'">Deporte</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height:88vh;">
                <div class="contenedor">
                    <section class="features-boxed">
                        <div class="container">
                            <div class="row justify-content-center features">
                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                    <div class="box" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalDatosSocio">
                                        <i class="fas fa-plus-circle icon"></i>
                                        <h3 class="name">Hacerme Socio</h3>
                                        <a class="learn-more">Entrar »</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                    <div class="box" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalConfirmacion">
                                        <i class="fas fa-plus-circle icon"></i>
                                        <h3 class="name">Dejar de ser Socio</h3>
                                        <a class="learn-more">Entrar »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!--FORMULARIO DE SOCIO-->
<div class="modal fade" id="modalDatosSocio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm" class="row g-3 needs-validation" (submit)= "registrarSocio()">
                    <div class="col-md-12">
                        <label for="profesion" class="form-label">Profesión u Oficio</label>
                        <input type="text" class="form-control form-control-sm" id="profesion" formControlName="profesion" required>
                        <div *ngIf="(submitted && loginForm.get('profesion')?.errors) || (loginForm.get('profesion')?.touched && loginForm.get('profesion')?.errors)">
                            <span class="error" *ngIf="loginForm.get('profesion')?.hasError('required')">La profesión u oficio es requerida</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="relacion" class="form-label">Relación con el colegio</label>
                        <select class="form-select form-select-sm" id="relacion" formControlName="relacion">
                            <option value='' selected>Escoger</option>
                            <option value=2>Interna (Ex Alumna, Profesor, Administrativo)</option>
                            <option value=3>Externa (Apoderado, Miembro del Club)</option>
                        </select>
                        <div *ngIf="(submitted && loginForm.get('relacion')?.errors) || (loginForm.get('relacion')?.touched && loginForm.get('relacion')?.errors)">
                            <span class="error" *ngIf="loginForm.get('relacion')?.hasError('required')">La relación es requerida</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Enviar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FORMULARIO DE SOCIO-->

<!--MODAL ACTIVAR CATEGORIA-->
<div class="modal fade" id="modalConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar Socio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>¿Está seguro de dejar de ser socio?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnEliminar" (click)="eliminarSocio()">Eliminar</button>
          <button type="button" class="btn btn-secondary" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
<!--MODAL ACTIVAR CATEGORIA-->