<div style="margin-top: 100px;">
    <mat-toolbar color="secondary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            <h1 class="ms-auto" *ngFor="let persona of this.persona">{{persona.nombre}} {{persona.a_paterno}}</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/menu-principal'">Inicio</a>
                <a mat-list-item [routerLink]="'/perfil'">Perfil</a>
                <a mat-list-item>Hacerme socio</a>
                <a mat-list-item [routerLink]="'/menu-deportista'">Deporte</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height:88vh;">
                <div class="contenedor">
                    <section class="features-boxed">
                        <div class="container">
                            <div class="row justify-content-center features">
                                <div *ngFor="let deporte of deportes" class="col-sm-2 col-sm-2 col-sm-2 item">
                                    <div class="box" [routerLink]="'/mi-deporte'" (click)="guardarId(deporte.idCategoria)">
                                        <h3 class="name">{{deporte.nombre}}</h3>
                                        <a class="learn-more">Entrar »</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                    <div class="box" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalYoRepresentado">
                                        <i class="fas fa-plus-circle icon"></i>
                                        <h3 class="name">Registrarme en Deporte</h3>
                                        <a class="learn-more">Entrar »</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!--REGISTRARME YO O UN REPRESENTADO-->
<div class="modal fade" id="modalYoRepresentado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Se desea registrar usted o un representado?
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalRegistroDeportista" (click)="this.pupilo = 0; asignarEdad(this.edad)">Yo</button>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalRepresentados">Representado</button>
            </div>
        </div>
    </div>
</div>
<!--REGISTRARME YO O UN REPRESENTADO-->

<!--LISTA REPRESENTADOS-->
<div class="modal fade" id="modalRepresentados" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="table" class="table-editable">
                    <table class="table table-responsive-sm table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let representado of listaRepresentado">
                                <td> {{ representado.nombre          }} </td>
                                <td>
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalRegistroDeportista" (click)="this.pupilo = representado.id_Persona; asignarEdad(representado.f_nacimiento)">Inscribir</button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalYoRepresentado">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--LISTA REPRESENTADOS-->

<!--LISTADO DEPORTES ACTIVOS-->
<div class="modal fade" id="modalRegistroDeportista" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="table" class="table-editable">
                    <table class="table table-responsive-sm table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let deporte of deportesActivos">
                                <td> {{ deporte.nombre          }} </td>
                                <td>
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalCategoriasDeportes" (click)="listarCategoriaPorDeporte(deporte.idDeporte)">Detalles</button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalYoRepresentado">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--LISTADO DEPORTES ACTIVOS-->

<!--CATEGORIAS ACTIVAS Y CALIFICADAS-->
<div class="modal fade" id="modalCategoriasDeportes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="table" class="table-editable">
                    <table class="table table-responsive-sm table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Categoría</th>
                                <th>Horarios</th>
                                <th>Valores</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of categoriasActivas">
                                <td> {{ categoria.nombre          }} </td>
                                <td>
                                    <textarea class="form-control form-control-sm" disabled>{{ categoria.entrenamientos }}</textarea>
                                </td>
                                <td>
                                    <textarea class="form-control form-control-sm" disabled>{{ categoria.valores }}</textarea>
                                </td>
                                <td>
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalConfirmacion" (click)="detalleCategoriaId(categoria.idCategoria)">Inscribirme</button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalRegistroDeportista">Volver</button>
            </div>
        </div>
    </div>
</div>
<!--CATEGORIAS ACTIVAS Y CALIFICADAS-->

<!--MENSAJE Y CONFIRMACIÓN-->
<div class="modal fade" id="modalConfirmacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Su solicitud será enviada, recuerde pagar el monto asociado a la cuenta XXXXXXXXXXX para ser aceptado
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalCategoriasDeportes">Volver</button>
                <button class="btn btn-success" (click)="asignarRolyDeporte()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!--MENSAJE Y CONFIRMACIÓN-->