<div class="contenedor">
    <section class="features-boxed">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-cogs icon"></i>
                        <h3 class="name">Tipos de Reuniones</h3>
                        <p class="description">Agregar, Mostrar, Modificar, Eliminar Tipos de reuniones</p>
                        <a class="learn-more" [routerLink]="'/tipo-reunion'">Entrar »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Administrador de Reuniones</h3>
                        <p class="description">Agendar, Mostrar, Eliminar Reuniones</p>
                        <a class="learn-more" [routerLink]="'/reunion'">Entrar »</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>