<div class="contenedor">
    <section class="features-boxed">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-users icon"></i>
                        <h3 class="name">Personas</h3>
                        <p class="description">Agregar, Modificar, Eliminar Personas.</p>
                        <a class="learn-more" [routerLink]="'/persona'">Entrar »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fas fa-cogs icon"></i>
                        <h3 class="name">Roles</h3>
                        <p class="description">Agregar, Asignar, Modificar, Eliminar Roles</p>
                        <a class="learn-more" href="#">Entrar »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="far fa-futbol icon"></i>
                        <h3 class="name">Deportes</h3>
                        <p class="description">Agregar, Modificar, Eliminar Deportes</p>
                        <a class="learn-more" [routerLink]="'/deporte'">Entrar »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Reuniones</h3>
                        <p class="description">Agendar, Modificar, Eliminar Reuniones</p>
                        <a class="learn-more" href="#">Entrar »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="far fa-envelope icon"></i>
                        <h3 class="name">Mensajes</h3>
                        <p class="description">Mostrar, Eliminar Mensajes</p>
                        <a class="learn-more" [routerLink]="'/mantenedor-contacto'">Entrar »</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>