<!--AGREGAR Y MOSTRAR ROL-->
<div class="container-fluid">
    <h1>
        Administrador de Reuniones
    </h1>
    <div id="table" class="table-editable">
        <table class="table table-responsive-sm table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-success">Agregar</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td> 
                        <i class="fas fa-edit fa-2x" id="editar" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalModificarRol"></i>
                        <i class="fas fa-trash fa-2x" id="eliminar" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalEliminarRol"></i>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--AGREGAR Y MOSTRAR ROL-->