.container-fluid
{
    margin-top: 150px;
}

h1
{
    text-align: center;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{
    border: 2px solid red
}

input.ng-valid, textarea.ng-valid{
    border: 2px solid green
}

input:invalid {
    border: 2x solid red;
}

.error{
    color:red
}