#contacto
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#cont
{
    background-color: white;
}

#boton
{
    text-align: center;
}

h1
{
    text-align: center;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{
    border-bottom: 3px solid red
}

input.ng-valid, textarea.ng-valid{
    border-bottom: 3px solid green
}

.error{
    color:red
}



