<div class="container-fluid">
    <br>
    <h1>Recuperar Contraseña</h1>
    <br>
    <form [formGroup]="loginForm" class="row g-3" (submit)="cambiarClave()">
        <div class="col-md-12">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control form-control-sm" formControlName="email" id="correo" name="correo">
            <span class="error" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Email es requerido</span> 
            <span class="error" *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched">Formato de email no válido</span>
        </div>
        <div class="col-md-12">
            <label for="clave" class="form-label">Contraseña Nueva</label>
            <input type="password" class="form-control form-control-sm" formControlName="password" id="clave" name="clave">
            <span class="error" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Contraseña es requerida</span>
        </div>
        <div class="col-md-12">
            <label for="confirme" class="form-label">Confirme Nueva Contraseña</label>
            <input type="password" class="form-control form-control-sm" formControlName="confirm_password" id="confirme" name="confirme">
            <span class="error" *ngIf="loginForm.get('confirm_password')?.hasError('required') && loginForm.get('confirm_password')?.touched">Confirme contraseña</span>
        </div>
        <div class="col-md-12" id="boton">
            <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
        </div>
    </form>
    <br>
</div>