<!-- <div style="margin-top: 100px;"> -->
    <div class="contentCont">
        <!-- <section id="wrap" class="blog-detail"> -->
            <div class="content">
                <div class="row overflow-visible">
                <div class="col-sm-12">
                    <div class="news-detail">
                        <h1 style="margin-left: 40%;">Noticias Club Deportivo STMSC</h1>
                        
                    <div class="entry-content">
                        <br />
                        <br />
                        <p style="margin-left: 25px;">
                            <span style="color: #ff0000;">
                                <strong>INSTRUCCIONES DE COMPRA
                                    <br />
                                </strong>
                            </span>
                            1. SFDGBSDFFDG
                            <br />
                            2. dfgdfhgd
                            <br />
                            3.dfgdfhgdfg
                            <br />
                            
                        </p>
                        <p style="margin-left: 25px;">
                            &#8211; sdfgsdfsfgd
                            <br />
                            &#8211; dfgdfgdfg   
                            <br />
                        </p>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6" *ngFor="let noticia of noticias">
                                    <div class="card my-2">
                                        <img [src]="noticia.imagen" alt="{{noticia.titulo}}" width="200px" height="300px" class="card-img-top" style="cursor: pointer;" (click)="detalleNoticiaId(noticia.idNoticia)">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <p>{{noticia.titulo | titlecase}}</p>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h6>{{noticia.descripcion}}...</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        <!-- </section> -->
    </div>
    
<!-- </div> -->

