<!--MOSTRAR CONTACTO-->
<div class="container-fluid">
    <h1>
        Administrador de Contactos
    </h1>
    <div id="table" class="table-editable">
        <table class="table table-responsive-sm table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Asunto</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contacto of contactos">
                    <td *ngIf="contacto.estado == true" style="font-weight: bold;">{{contacto.idContacto }}</td>
                    <td *ngIf="contacto.estado != true">{{contacto.idContacto }}                           </td>
                    <td *ngIf="contacto.estado == true" style="font-weight: bold;">{{contacto.nombre     }}</td>
                    <td *ngIf="contacto.estado != true">{{contacto.nombre     }}                           </td>
                    <td *ngIf="contacto.estado == true" style="font-weight: bold;">{{contacto.asunto     }}</td>
                    <td *ngIf="contacto.estado != true">{{contacto.asunto     }}                           </td>
                    <td *ngIf="contacto.estado == true" style="font-weight: bold;">{{contacto.fecha      }}</td>
                    <td *ngIf="contacto.estado != true">{{contacto.fecha      }}                           </td>
                    <td *ngIf="contacto.estado == true" style="font-weight: bold;">Nuevo                   </td>
                    <td *ngIf="contacto.estado != true">Leido</td>
                    <td> 
                        <i class="far fa-file fa-2x" id="detalle" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalDetalleContacto" (click)="detalleContactoId(contacto.idContacto)"></i>
                        <i class="fas fa-trash fa-2x" id="eliminar" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalEliminarContacto" (click)="detalleContactoId(contacto.idContacto)"></i>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--MOSTRAR CONTACTO-->

<!--MODAL ELIMINAR CONTACTO-->
<div class="modal fade" id="modalEliminarContacto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 *ngFor="let contacto of det">¿Está seguro de eliminar a {{contacto.nombre}}?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnEliminar" *ngFor="let contacto of det" (click)="eliminarContacto(contacto.idContacto)">Eliminar</button>
          <button type="button" class="btn btn-secondary" id="btnCerrar" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
<!--MODAL ELIMINAR CONTACTO-->

<!--MODAL DETALLE CONTACTO-->
<div class="modal fade" id="modalDetalleContacto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel" *ngFor="let contacto of det">{{contacto.asunto}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5 *ngFor="let contacto of det">Nombre: {{contacto.nombre}}</h5>
            <h5 *ngFor="let contacto of det">Correo: {{contacto.correo}}</h5>
            <h5 *ngFor="let contacto of det">Teléfono: {{contacto.telefono}}</h5>
            <h5 *ngFor="let contacto of det">Mensaje: {{contacto.mensaje}}</h5>
            <h5 *ngFor="let contacto of det">Fecha: {{contacto.fecha}}</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
</div>
<!--MODAL DETALLE CONTACTO-->