<div style="margin-top: 100px;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
            </button>
            <h1>sdfsgd</h1>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item>Inicio</a>
                <a mat-list-item [routerLink]="'/perfil'">Perfil</a>
                <a mat-list-item>Hacerme socio</a>
                <a mat-list-item>Deporte</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
    <div class="container">
        <div class="main-body">
        
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/inicio'">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div *ngFor="let persona of persona">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <div class="row">
                                        <div class="col-sm-12 text-secondary" style="text-align: center;">
                                            {{persona.apodo ? persona.apodo: 'Apodo no registrado'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <h3>Cargos</h3>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h5>
                            <span class="text-secondary">fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h5>
                            <span class="text-secondary">fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h5>
                            <span class="text-secondary">@fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h5>
                            <span class="text-secondary">fghhfg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h5>
                            <span class="text-secondary">fghfgh</span>
                        </li>
                        </ul>
                    </div>

                    <div class="card mt-3">
                        <h3>Mis Puntos</h3>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h5>
                            <span class="text-secondary">fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h5>
                            <span class="text-secondary">fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h5>
                            <span class="text-secondary">@fghfhg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h5>
                            <span class="text-secondary">fghhfg</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h5 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h5>
                            <span class="text-secondary">fghfgh</span>
                        </li>
                        </ul>
                    </div>

                    </div>
                    <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                <h5 class="mb-0">RUT</h5>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{persona.rut}}
                                </div>
                            </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Nombre</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.nombre}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Segundo Nombre</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.segundo_nombre ? persona.segundo_nombre: 'No registrado'}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Apellido Paterno</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.a_paterno}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Apellido Materno</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.a_materno}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Correo</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.correo}}
                            </div>
                        </div>
                        <hr>
                        <!-- <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Clave</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            1234
                            </div>
                        </div>
                        <hr> -->
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Teléfono</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.telefono}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Fecha de Nacimiento</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.f_nacimiento}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Comuna</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.comuna}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Dirección</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.direccion}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Teléfono de Emergencia</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.tel_emergencia ? persona.tel_emergencia: 'No registrado'}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Sexo</h5>
                            </div>
                            <div class="col-sm-9 text-secondary" *ngIf="persona.sexo == 'F'">
                                Femenino
                            </div>
                            <div class="col-sm-9 text-secondary" *ngIf="persona.sexo == 'M'">
                                Masculino
                            </div>
                            <div class="col-sm-9 text-secondary" *ngIf="persona.sexo == 'ND'">
                                No definido
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                            <h5 class="mb-0">Apoderado</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                            {{persona.nombre}} {{persona.a_paterno}} {{persona.a_materno}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                            <a class="btn btn-success " data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#modalEditarPersona" (click)="detallePersona()">Editar</a>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                            <small>Web Design</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>Website Markup</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>One Page</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>Mobile Template</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>Backend API</small>
                            <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>

<div class="modal fade" id="modalEditarPersona" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngFor="let persona of persona">
                <form [formGroup]="loginForm" class="row g-3" (submit)="editarPerfil()">
                    <!-- <div class="col-md-12">
                        <label for="id" class="form-label">ID</label>
                        <input type="tel" class="form-control form-control-sm" formControlName="id" id="id">
                    </div> -->
                    <div class="col-md-12">
                        <label for="foto" class="form-label">Foto de Perfil</label>
                        <input type="file" class="form-control form-control-sm" accept=".jpeg, .jpg" formControlName="fotoPerfil" id="fotoPerfil">
                    </div>
                    <div class="col-md-12">
                        <label for="apodo" class="form-label">Apodo</label>
                        <input type="text" class="form-control form-control-sm" formControlName="apodo" id="apodo">
                    </div>
                    <div class="col-md-12">
                        <label for="rut" class="form-label">Rut</label>
                        <input type="text" class="form-control form-control-sm" formControlName="rut" id="Rut">
                    </div>
                    <div class="col-md-12">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control form-control-sm" formControlName="nombre" id="Nombre">
                    </div>
                    <div class="col-md-12">
                        <label for="nombre" class="form-label">Segundo Nombre</label>
                        <input type="text" class="form-control form-control-sm" formControlName="segundo" id="sNombre">
                    </div>
                    <div class="col-md-12">
                        <label for="paterno" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control form-control-sm" formControlName="paterno" id="Paterno">
                    </div>
                    <div class="col-md-12">
                        <label for="materno" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control form-control-sm" formControlName="materno" id="Materno">
                    </div>
                    <div class="col-md-12">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control form-control-sm" formControlName="correo" id="Correo">
                    </div>
                    <div class="col-md-12">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control form-control-sm" formControlName="telefono" id="Telefono">
                    </div>
                    <div class="col-md-12">
                        <label for="emergencia" class="form-label">Teléfono de Emergencia</label>
                        <input type="text" class="form-control form-control-sm" formControlName="tEmergencia" id="Emergencia">
                    </div>
                    <!-- <div class="col-md-12">
                        <label for="nacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control form-control-sm" formControlName="nacimiento" id="mNacimiento">
                    </div> -->
                    <div class="col-md-12">
                        <label for="comuna" class="form-label">Comuna</label>
                        <input type="text" class="form-control form-control-sm" formControlName="comuna" id="Comuna">
                    </div>
                    <div class="col-md-12">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control form-control-sm" formControlName="direccion" id="mDireccion">
                    </div>
                    <div class="col-md-12">
                        <label for="genero" class="form-label">Genero</label>
                        <select class="form-select" formControlName="sexo" id="Sexo">
                            <option value="" selected>Escoger</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="ND">No definido</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Editar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>