<h1 style="text-align: center;">Noticias y Eventos</h1>
<br>
<br>
<div class="row" id="NotyEv">
    <div class="col-sm-4">
        <br>
        <div class="card">
            <img src="../../../../assets/logo.jpg" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-4">
        <br>
        <div class="card">
            <img src="../../../../assets/logo.jpg" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <br>
    </div>
    <div class="col-sm-4">
        <br>
        <div class="card">
            <img src="../../../../assets/logo.jpg" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <br>
    </div>
</div>